* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Mulish', sans-serif;
    color: #002140;
}

body {
    min-height: 80vh;
    max-height: 80vh;
    background: #fff;
    font-family: sans-serif;
    display: grid;
    place-items: center;
    overflow: hidden;
}

.content-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 79.5rem;
    min-width: 79.5rem;
    max-width: 31.5rem;
    ;
    min-height: 31.5rem;
    background: #fed32f;
    padding: 4rem;
    border-radius: 50px;
}

.container {
    display: block;
    max-width: 79.5rem;
    min-width: 79.5rem;
    width: 93%;
    /* padding: 50px 110px 130px; */
    position: relative;
    z-index: 1;
}

header li,
a,
button {
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0px;
}

header .logo img {
    height: 48px;
    padding-right: 10px;
}

header .logo {
    font-size: 25px;
    cursor: pointer;
    display: flex;
    align-items: center;
}

header nav .nav-links {
    list-style: none;
}

header nav .nav-links li {
    display: inline-block;
    padding: 0 20px;
}

header nav .nav-links li a {
    transition: all 0.3s ease 0s;
}

header nav .nav-links li a:hover {
    opacity: 80%;
    text-decoration: 5px underline;
}

header nav .nav-links li .home {
    text-decoration: 5px underline;
}

header button {
    padding: 11px 40px;
    background-color: #ff783e;
    color: #fff;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

header button:hover {
    background-color: #ffa178;
}

.content-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}

.content-container .content h1 {
    font-weight: 700;
    font-size: 50px;
    max-width: 50%;
    min-width: 50%;
    padding-top: 25px;
    padding-bottom: 15px;
}

.content-container .content p {
    font-weight: bold;
    font-size: 20px;
    width: 50%;
    padding-bottom: 20px;
}

.content-container .content .input {
    border: 0;
    outline: none;
    color: #8b7d77;
}

.content-container .content .search-wrap {
    width: 500px;
}

.content-container .content .search-wrap .search-box {
    position: relative;
    width: 500px;
    height: 60px;
}

.content-container .content .search-wrap .search-box .input {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 10px 30px;
    padding-right: 145px;
    border-radius: 50px;
    color: black;
    font-weight: 500;
}

.content-container .content .search-wrap .search-box .btn {
    position: absolute;
    top: 8px;
    right: 8px;
    width: 125px;
    height: 45px;
    border-radius: 25px;
    color: #fff;
    background: #ff783e;
    z-index: 1;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease 0s;
}

.content-container .content .search-wrap .search-box .btn:hover {
    background-color: #ffa178;
}

.content-container .content .search-wrap .search-box .btn strong {
    color: white;
}

.content-container .content .dish-img {
    position: absolute;
    top: 17%;
    right: 150px;
    width: 27.5rem;
}

.content-container .content .dish-img::after {
    content: "";
    width: 30rem;
    height: 30rem;
    border: 2px solid white;
    bottom: 50.5%;
    left: 16.5rem;
    position: absolute;
    transform: translate(-50%, 50%);
    border-radius: 100%;
    z-index: 0;
}

.content-container .content .dish-img img {
    width: 120%;
}

.content-container .content .leaf-img {
    position: absolute;
    top: 17%;
    left: 1175px;
    width: 27.5rem;

}

.content-container .content .leaf-img img {
    width: 30%;
}